body {
    background-color: #a5c6e7; /* Default background color for tablet and desktop screens */
    font-size: 16px; /* Default font size for labels */
    min-height: 100vh
}
h1 {
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    color: rgb(9, 2, 83);
    text-align: center;
    margin: 5px 0px;
}
button {
    width: 12em;
    height: 3.5em;
    border-radius: 100px;
    border: 0;
    background-color: gray;
    background-size: 200%;
}

button:hover {
    cursor: pointer;
}

button a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-right: 10px;
}
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

label {
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    flex: 1;
}
form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 70%;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    flex: 2;
    width: 100%;

}
input[type="submit"] {
    width: 40%;
    height: 3.5em;
    align-self: center;
    border-radius: 100px;
    border: 0;
    background-color: rgb(237, 244, 201);
    color: rgb(4, 72, 20);
    font-weight: bold;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}
footer {
    height:48px;  
    background-color: rgba(91 50 74 / 30%)
}

footer p {
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 6px 0px;
}


@media (min-width: 601px) {
    body {
        background-color: #fab6b6; /* Background color for tablet/desktop screens */
        font-size: 20px; /* Increase font size for labels on tablet/desktop screens */
    }
    
    label {
        font-size: 20px; /* Increase font size for labels on tablet/desktop screens */
    }
}

/* Media queries for mobile-first approach (up to 600px) */
@media (max-width: 600px) {
    form {
        flex-direction: column; /* Stacking fields vertically */
    }
    
    label {
        font-size: 20px; /* Increase font size for labels on mobile devices */
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-size: 20px; /* Increase the size of input boxes for mobile devices */
        width: 100%; /* Fields occupy full screen width */
    }
}